*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

body {
  background-color:#3CD4D4;
  max-height: 100%;
}

h1 {
  color: white;
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  color: white;
}

p {
  color: white;
  font-weight: 300;
  font-size: 2rem;
  
}

.help p {
  width: 80%;
}

textarea {
  resize: none;

}

.btn {
  color: white;
  background-color: #2A3596;
  border: none;
  height: 75px;
  font-size: 1.7rem;
  border-radius: 10px;
  transition: 0.5s ease all;
  padding: 5px;
}

.btn:hover {
  cursor: pointer;
  background-color: #1a2163;
}

.btn-big {
  width: 80%;
}

.btn-small {
  width: 50%;
}

.btn.help {
  padding: 20px;
}

.btn.yes {
  grid-area: 'yes';
}

.btn.no {
  grid-area: 'no';
}

.container {
  width: 60%;
  text-align: center;
  margin: 30px auto;
  transition: 0.5s all;
  opacity: 1;

  min-height: 90vh;
}

.landing-page {
  display: flex;
  flex-direction: column;
  height: 70vh;
  align-items: center;
  justify-content: space-around;

  
}

.landing-page .main-title {
  padding-bottom: 30px;
  border-bottom: 1px solid white;
}

.landing-page .main-title h1 {
  font-size: 6rem;
}

.question {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.question h1 {
  font-size: 3rem;
  grid-area: 'header'
}

.help {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.text textarea {
  width: 80%;
  min-height: 300px;
  border: none; 
  padding: 20px;
  font-size: 1.5rem;
  border-radius: 10px;
}


.summary-wrapper {
  background-color: #4CEEEE;
  width: 100%;
  padding: 20px;
  border-radius:11px;
}

.summary-wrapper p {
  font-size: 1.5rem;
  margin: 10px auto;
  margin-bottom: 30px;
}

.summary-wrapper h2 {
  color: white; 
  font-size: 2rem;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin-bottom: 20px;

}









.float {
  transform: translateY(-200px);
  opacity: 0;
}

.fade {
  transform: translateY(200px);
  opacity: 1;
}




.display-none {
  display:none;
  opacity: 0;
}




/* Make container bigger and landing page font smaller */
@media (max-width: 1000px) {
  .container {
    min-width: 95%;
  }
  .landing-page .main-title h1 {
    font-size: 4rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.5rem;
  }

  .btn-small {
    width: 70%;
  }

  

  .text textarea {
    width: 95%;
  }

  .text .btn-big {
    width: 95%;
  }
}




/* Preventing Scrolling */
/* @media (min-width: 1000px) {
  body {
    overflow-y: hidden;
  }

} */